---
import { Image } from '@astrojs/image/components';
import { app } from '@sergeylukin/website/app';

const logo = import('../assets/images/logo.png');

const logoText = app.config.logoText.split(' ');
---

<span
  class="self-center ml-2 text-2xl md:text-3xl font-bold font-handwritten text-gray-900 whitespace-nowrap dark:text-white"
>
  {/* <Image src={logo} alt=" Deploy.day" width={226} height={88} /> */}
  <span class="dark:text-white text-slate-700">{logoText[0]}</span><span class="text-accent">{logoText[1] || ''}</span>
</span>
