---
import { PostsListItem as Item } from '@astro-nx-depla/shared/ui';
import type { Post } from '@astro-nx-depla/website/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20">
        <Item post={post} />
      </li>
    ))
  }
</ul>
