---
import { app } from '@astro-nx-depla/website/app';
import { IPost } from '@astro-nx-depla/shared/entities/post';

const TAG = app.post.config.taxonomies.tag;

export interface Props {
  tags: IPost['tags'];
  class?: string;
}

const { tags, class: className = 'text-sm' } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <ul class={className}>
      {tags.map((tag) => (
        <li class="bg-gray-100 dark:bg-slate-700 inline-block mr-2 mb-2 py-0.5 px-2 lowercase font-medium">
          {TAG?.disabled ? (
            tag
          ) : (
            <a
              href={app.post.getPostTaxonomyPermalink('tag', tag.name)}
              class="text-muted dark:text-slate-300 hover:text-primary dark:hover:text-gray-200"
            >
              {tag.name}
            </a>
          )}
        </li>
      ))}
    </ul>
  )
}
