---
import { app } from '@astro-nx-depla/website/app';
import {
  PageLayout,
  PostsList,
  Headline,
  Pagination,
} from '@astro-nx-depla/shared/ui';

export const getStaticPaths = app.post.getPostCategoryListStaticPaths;

const { page, category } = Astro.props;
const meta = app.post.getPostCategoryMetaByPage(page, category);
---

<PageLayout meta={meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-3xl">
    <Headline>
      <span class="capitalize">{category.replaceAll('-', ' ')}</span>
    </Headline>
    <PostsList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</PageLayout>
