---
import Layout from './BaseLayout.astro';
import { Footer, Header, Announcement } from '@astro-nx-depla/shared/ui';
import { app } from '@astro-nx-depla/website/app'

import { headerData, footerData } from '~/data/navigation';

import { MetaSEO } from '@astro-nx-depla/shared/types/html';

export interface Props {
  meta?: MetaSEO;
  showToggleTheme?: boolean;
}

const {
  meta = {},
  showToggleTheme = !(app.config?.defaultTheme && app.config.defaultTheme.endsWith(':only')),
} = Astro.props;
---

<Layout {...meta}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed
      showToggleTheme={showToggleTheme} />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
