---
import { PageLayout as Layout } from '@astro-nx-depla/shared/layout';
import {
  PostsList as BlogList,
  Headline,
  Pagination,
} from '@astro-nx-depla/shared/ui';
import { app } from '@astro-nx-depla/website/app';

export const getStaticPaths = app.post.getPostListStaticPaths;

const { page } = Astro.props;
const meta = app.post.getMetaByPage(page);
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="A statically generated blog example with news, tutorials, resources and other interesting content related to AstroWind"
    >
      The Blog
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
