---
export const prerender = true;
import { app } from '@sergeylukin/website/app';
import {
  PageLayout,
  PostsList,
  Headline,
  Pagination,
} from '@sergeylukin/shared/ui';

export const getStaticPaths = app.post.getPostListStaticPaths;

const { page } = Astro.props;
const meta = app.post.getMetaByPage(page);
---

<PageLayout {meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="A statically generated blog example with news, tutorials, resources and other interesting content related to AstroWind"
    >
      The Blog
    </Headline>
    <PostsList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</PageLayout>
